.title{
    color: var(--soft-purple);
    font-size: 2.3rem;
    margin: 5rem 0 0 6rem;
    padding-left: 1rem;
}

.projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    .containerCard{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1100px;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;
        margin-top: 4rem;
    }
}

@media (max-width: 525px){
    .titleBox{
        .title{
            margin: 5rem 0 0 1.5rem;
        }
    }
}

@media (min-width: 1600px){
    .titleBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title{
        max-width: 1110px;
    }
}
